.mainAcerca{
    background-color: #fdf2f2;
    padding:40px;
    display: flex;
    flex-direction: column;
    flex: content;
}
.secAcer{
    display: flex;
    flex-direction: column;
    flex: content;
}
