/*BLOGS*/
.mainBlogs{
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .mainBlogs {
    h2{
        text-align: center;
        align-self: center;
        text-shadow: 2px -2px 0 #ebaeae94;
        margin-top: 50px;
        margin-bottom: 50px;
      }
  }
 
 .photo{
  background-image: url(https://raw.githubusercontent.com/PaulaGuevra/TradInspire_Blog/main/images/xsBlogPabloMuguerza.webp);
 }

 .photo1{
  background-image: url(https://raw.githubusercontent.com/PaulaGuevra/TradInspire_Blog/main/images/blogPaulaPlazas.webp);
 }

 .photo2{
  background-image: url(https://raw.githubusercontent.com/PaulaGuevra/TradInspire_Blog/main/images/elartedetraducir.webp);
 }

 .photo3{
  background-image: url(https://raw.githubusercontent.com/PaulaGuevra/TradInspire_Blog/main/images/enLaLunaDeBabel.webp);
 }

  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: #ffffff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    a {
      color: inherit;
      &:hover {
        color: map-get($colors,bgColor );
      }
    }
    &:hover {
      .photo {
        transform: scale(1.3) rotate(3deg);
      }
    }
    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .photo, .photo1, .photo2, .photo3 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform .2s;
    }
    .details,
    .details ul {
      margin: auto;
      padding: 0;
      list-style: none;
    }
  
    .details {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1000%;
      margin: auto;
      transition: left .2s;
      background: rgba(#000, .6);
      color: #ffffff;
      padding: 10px;
      width: 100%;
      font-size: .9rem;
      a {
        text-decoration: dotted underline
      }
      ul{
        li {
          display: inline-block;
        }
      } 
      
      .tags {
        ul:before {
          font-family: FontAwesome;
          content: "\f02b";
          margin-right: 10px;
        }
        li {
          margin-right: 2px;
          &:first-child {
            margin-left: -4px;
          }
        }
      }
    }
    .description {
      padding: 1rem;
      background-image:linear-gradient(to right, #ffffff, #fbede9);
      position: relative;
      z-index: 1;
    
      h1 {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
        background-image: none;
      }
     
      .read-more {
        text-align: right;
        a {
          color: #374b72;
          display: inline-block;
          position: relative;
          &:after {
            content: "\f061";
            font-family: FontAwesome;
            margin-left: -10px;
            opacity: 0;
            vertical-align: middle;
            transition: margin .3s, opacity .3s;
          }
  
          &:hover:after {
            margin-left: 5px;
            opacity: 1;
          }
        }
      }
    }
    p {
      position: relative;
      margin: 1rem 0 0;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: #fbede9;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
    &:hover {
      .details {
        left: 0%;
      }
    }
  
  
    @media (min-width: 640px) {
      flex-direction: row;
      max-width: 700px;
      .meta {
        flex-basis: 40%;
        height: auto;
      }
      .description {
        flex-basis: 60%;
        &:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      }
      &.alt {
        flex-direction: row-reverse;
        .description {
          &:before {
            left: inherit;
            right: -10px;
            transform: skew(3deg)
          }
        }
        .details {
          padding-left: 25px;
        }
      }
    }
  }
  
  