body{
    overflow-x: hidden;
    background-image: url(../images/jess-bailey-q10VITrVYUM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 5px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}