/*DONDE ESTUDIAR*/

.gridDon{
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 2fr 3fr 1fr;
    grid-row-gap: 50%;
  }
  .mainDon{
    grid-area: main;
    grid-gap: 50px;
    opacity: 0.9;;
    @extend %flexColumn;
    align-items: flex-start;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .mainDon {
     h2{
    text-align: center;
    align-self: center;
    text-shadow: 2px -2px 0 #ebaeae94;
    }
  }

  .CSSgal {
   @extend %basicSlide;
  }
  
  .CSSgal{
    .slider {
        .bg1{
            background: linear-gradient(to top, #e95, #fdebe9);
        }
    }
  } 
  .CSSgal {
    .slider{
        .bg2{
            background: linear-gradient(to top, #e59, #fdebe9);
        }
    } 
  }
  .CSSgal{
    .slider {
        .bg3{
            background: linear-gradient(to top, #e95, #fdebe9);
        }
    } 
  } 
  .CSSgal{
    .slider{
        .bg4{
            background: linear-gradient(to top, #e59, #fdebe9);
        }
    } 
  } 
  .bg1{
    ul{
        li{
            list-style-type: none;
            text-align: center;
        }
    } 
  } 
  .bg2{
    ul{
        li{
            list-style-type: none;
        }
    } 
  } 
  .bg3{
    ul{
        li {
            list-style-type: none;
        }
    } 
  } 
  .bg4{
    ul {
        li{
            list-style-type: none;
        }
    }
  } 
  .CSSgal{
    .slider {
        height: 100%;
        white-space: nowrap;
        font-size: 0;
        transition: 0.8s;
      }
  } 
  
  .CSSgal {
    .slider > * {
        font-size: 1rem;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        height: 100%;
        width: 100%;
        background: none 50% no-repeat;
        background-size: cover;
      }
  }
  .CSSgal {
    .prevNext {
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 100%;
        height: 0;
      }
  }
   
  .CSSgal{
    .prevNext > div+div {
        visibility: hidden; 
      } 
     }

  .CSSgal{
    .prevNext {
        a {
            background: #fdebe9;
            position: absolute;
            width:       60px;
            height:      60px;
            line-height: 60px; 
            text-align: center;
            opacity: 0.7;
            -webkit-transition: 0.3s;
                  transition: 0.3s;
            -webkit-transform: translateY(-50%);
                 transform: translateY(-50%);
            left: 0;
          }
          a:hover {
            opacity: 1;
          }
    }
  } 
  .CSSgal {
    .prevNext {
      a+a {
        left: auto;
        right: 0;
      }
    }
  }
    
  .CSSgal{
    .bullets {
      z-index: 2;
      bottom: 0;
      padding: 10px 0;
      width: 100%;
      text-align: center;
    }
  }
  .CSSgal {
    .bullets > a {
      display: inline-block;
      width:       30px;
      height:      30px;
      line-height: 30px;
      text-decoration: none;
      text-align: center;
      background: rgba(255, 255, 255, 1);
      -webkit-transition: 0.3s;
            transition: 0.3s;
    }
  }
  .CSSgal{
    .bullets > a+a {
      background: rgba(255, 255, 255, 0.5); /* Dim all but first */
    }
  } 

  .CSSgal {
    .bullets > a:hover {
      background: rgba(255, 255, 255, 0.7) !important;
    }
  }
  .CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
    #s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
    #s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
    #s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
    #s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
  
  .CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
  #s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
  #s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
  #s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
  #s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
  
  #s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
  #s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
  #s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
  #s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
  
  .CSSgal{
      color: #fdebe9;	
      text-align: center;
  }
  .CSSgal{
    .slider {
      h2 {
        margin-top: 10vh;
        font-weight: 200;
        letter-spacing: -0.06em;
        word-spacing: 0.2em;
        font-size: 3em;
      padding-bottom: 10px;
      }
    }
  }
  .CSSgal {
    a {
      border-radius: 50%;
      margin: 0 3px;
      color: #000;
      text-decoration: none;
    }
  }
  
  