footer{
    font-size: smaller;
    font-family: 'Manrope', sans-serif;
    bottom: 0;
    height: 95px;
    clear: both;
    position:static;
    text-align: center;
    padding:2%;
    background: linear-gradient(to top, #fbede9, #ffffff);
    border: thin solid #bebebe;
    opacity: 0.9;
    z-index:1000;
    @extend %flexRow;
    justify-content:space-between;
    a{
      border-color: map-get($colors, borderColor );
    }
    .footerDiv{
       @extend %flexRow;
        align-items: flex-start;
        flex-flow: row;
        padding:10px;
          ul{
              li{
                  list-style-type: none;
                  text-align: left;
                  a{
                      text-decoration: none;
                      color: map-get($colors, linksColor );
                  }
              }
      
          }
      }
      .footerDivUno{
         padding:10px;
         list-style: 5px;
         h4{
          padding-bottom: 20px;
          color: map-get($colors,linksColor);
        }
      }
     .footerDivDos{
      padding: 10px;
      a{
        text-decoration: none;
        img{border-radius: 100%;}
        }
      h4{
        padding-bottom: 10px;
        color: map-get($colors, linksColor);
      }
    }
  }
@media only screen and (max-width:768px) {
  footer{
    display: block;
    height: auto;
    width: auto;
  }
  .redes{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  } 
} 
 