  .grid-layout{
    grid-area: main;
    @extend %flexRow;
    align-items: center;
    justify-content: space-evenly;
  }
  .box{
    width: 200px;
    height: 400px;
    padding: 40px;
    overflow: hidden;
    text-align: center;
    @extend %flexRow;
      a{
          text-decoration: none;
          position: relative;
          text-align: left;
          bottom: 20px;}
      &:hover{-webkit-transform: scale(1.3);
          transform: scale(1.3);
      }
      img{
          @include border( #768152,solid);
          border-radius: 5%;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
      }
  }
 
  .text{
    position: relative;
    bottom: 30px;
    background: linear-gradient(to bottom, transparent, #fbede9);
    text-decoration: none;
    border-radius: 25px;
    padding-left: 10px;
    text-align: center;
    color: map-get($colors, linksColor);
    font-size: larger;
    z-index: 2;
  }
  
  