  .grid-layout{
    grid-area: main;
    @extend %flexRow;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
   
  }
  .box{
    width: 200px;
    height: 400px;
    padding: 75px;
    overflow: hidden;
    text-align: center;
    @extend %flexRow;
      a{
          text-decoration: none;
          position: relative;
          text-align: left;
          bottom: 20px;}
      &:hover{-webkit-transform: scale(1.3);
          transform: scale(1.3);
      }
      img{
          border: 1px solid #686565 ;
          width: 200px;
          height: 200px;
          border-radius: 5%;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
      }
  }
 
  .text{
    position: relative;
    bottom: 30px;
    @include bg-style;
    text-decoration: none;
    border-radius: 25px;
    padding-left: 10px;
    text-align: center;
    color: map-get($colors, linksColor);
    font-size: larger;
    z-index: 2;
  }
  
  @media only screen and (max-width: 768px){
    .box{
      width: 100vw;
      margin: 0 auto;
      height: 250px;
      border: map-get($borders, borderStyle) map-get($colors, borderColor );
      @include box-bg-img;
      opacity: 0.9;
      a{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content:flex-start;
        img{
          border-radius: 100%;
          border: map-get($borders, imgBorderStyle ) map-get($colors,borderColor);
        }
      }
    }
    .grid{
      width: fit-content;
    } 

    .grid-layout{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-gap: 60px;
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
    }
    .text{
      font-family: inherit;
      font-size: x-large;
      padding-left: 60px;
      background-image: none;
    }
  }
  