$borders: (
    borderStyle: solid thin $borderColor,
    imgBorderStyle: solid $imgBorderColor,
);

$colors: (
    bgColor: #fbede9,
    imgBorderColor: #768152,
    borderColor:#bdc991,
    hoverColor: #374b72,
    linksColor:#000000,
);



