$borders: (
    borderStyle: solid thin,
    imgBorderStyle: solid,
);

$colors: (
    bgColor: #fbede9,
    borderColor:#bebebe,
    hoverColor: #fb7f9685,
    linksColor:#000000,
    dropColor:#faefeb,
);



