/*PODCASTS*/
.mainPod{
    display: flex;
    flex-direction: column;
}
.podcst-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fbede9;
 
}
.pods{
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fbede9;
}
