footer .footerDiv, footer, .box, .grid-layout, header .navbar ul, header .navbar, header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.mainDon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  grid-area: header;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(to top, #fbede9, #ffffff);
  border: thin solid #bebebe;
  opacity: 0.9;
}
header .navbar {
  grid-area: header;
  align-content: space-between;
  padding-right: 60px;
  padding-bottom: 10px;
  font-weight: bold;
}
header .navbar ul {
  justify-content: space-between;
  align-content: space-between;
}
header .navbar ul li {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}
header .navbar ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
header .navbar .dropdown {
  float: none;
  overflow: hidden;
  z-index: 10;
}
header .navbar .dropdown .dropbtn {
  border: none;
  outline: none;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #faefeb;
  font-family: inherit;
}
header .navbar .dropdown:hover .dropdown-content {
  display: block;
  list-style: none;
}
header .navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #fbede9;
  min-width: 235px;
  z-index: 10;
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
header .navbar .dropdown .dropdown-content ul {
  display: flex;
  flex-direction: column;
  float: left;
  align-content: flex-start;
  align-items: stretch;
  position: absolute;
  background-color: #fbede9;
  background-clip: content-box;
}
header .navbar .dropdown .dropdown-content ul li {
  list-style-type: none;
  color: #fbede9;
  font-size: medium;
  display: inline-block;
  position: relative;
  margin: 0;
  border-bottom: 1px solid #fff;
  width: auto;
  border-radius: 5px;
}
header .navbar .dropdown .dropdown-content ul li:hover {
  background-color: rgba(251, 127, 150, 0.5215686275);
}
header .navbar .dropdown .dropdown-content ul li a {
  text-decoration: none;
  color: #000000;
  line-height: 25px;
  padding: 10px;
  border-radius: 3px;
}

@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
#logo {
  width: 125px;
  height: 125px;
  margin: auto;
  position: relative;
  padding-left: 60px;
}

.hidden:hover {
  background-color: rgba(251, 127, 150, 0.4862745098);
}

#about {
  color: #000000;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0px auto;
    padding: 0px;
    background-attachment: fixed;
  }
  #logo {
    padding-left: 50vw;
  }
  header {
    position: static;
  }
  header .navbar {
    position: static;
    width: 100%;
  }
  header .navbar ul li {
    padding-left: 20px;
  }
  .dropdown-content {
    font-stretch: extra-expanded;
    font-weight: 200;
    font-variant-caps: all-small-caps;
    line-height: 50px;
    width: 100vw;
    z-index: 100;
  }
  .dropdown-content ul {
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    overflow: auto;
  }
  .dropdown-content ul:hover {
    display: block;
  }
  .dropdown-content ul li {
    font-size: x-large;
  }
  .hidden {
    position: absolute;
    top: -11111px;
    left: -11111px;
  }
  .box {
    width: 100vw;
    margin: 0 auto;
    height: 250px;
    border: solid thin #bdc991;
    background-color: #fbede9;
    opacity: 0.9;
    z-index: -1;
  }
  .box a {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .box a img {
    border-radius: 100%;
    border: solid thin #768152;
  }
  .grid {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }
  .text {
    font-family: inherit;
    font-size: x-large;
    padding-left: 60px;
  }
}
body {
  overflow-x: hidden;
  background-image: url(../images/jess-bailey-q10VITrVYUM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.grid {
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  grid-template-rows: 2fr 3fr 1fr;
}

.grid-layout {
  grid-area: main;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 33px;
}

.box {
  width: 200px;
  height: 400px;
  padding: 75px;
  overflow: hidden;
  text-align: center;
}
.box a {
  text-decoration: none;
  position: relative;
  text-align: left;
  bottom: 20px;
}
.box:hover {
  transform: scale(1.3);
}
.box img {
  color: #768152;
  border-style: solid;
  border-radius: 5%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.text {
  position: relative;
  bottom: 30px;
  background: linear-gradient(to bottom, transparent, #fbede9);
  text-decoration: none;
  border-radius: 25px;
  padding-left: 10px;
  text-align: center;
  color: #000000;
  font-size: larger;
  z-index: 2;
}

footer {
  font-size: smaller;
  font-family: "Manrope", sans-serif;
  bottom: 0;
  height: 95px;
  clear: both;
  position: static;
  text-align: center;
  padding: 2%;
  background: linear-gradient(to top, #fbede9, #ffffff);
  border: thin solid #bebebe;
  opacity: 0.9;
  z-index: 1000;
  justify-content: space-between;
}
footer a {
  border-color: #bdc991;
}
footer .footerDiv {
  align-items: flex-start;
  flex-flow: row;
  padding: 10px;
}
footer .footerDiv ul li {
  list-style-type: none;
  text-align: left;
}
footer .footerDiv ul li a {
  text-decoration: none;
  color: #000000;
}
footer .footerDivUno {
  padding: 10px;
  list-style: 5px;
}
footer .footerDivUno h4 {
  padding-bottom: 20px;
  color: #000000;
}
footer .footerDivDos {
  padding: 10px;
}
footer .footerDivDos a {
  text-decoration: none;
}
footer .footerDivDos a img {
  border-radius: 100%;
}
footer .footerDivDos h4 {
  padding-bottom: 10px;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  footer {
    display: block;
    height: auto;
    width: auto;
  }
  .redes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
}
/*DONDE ESTUDIAR*/
.mainDon {
  grid-area: main;
  grid-gap: 50px;
  opacity: 0.9;
  align-items: flex-start;
  margin-top: 55px;
  margin-bottom: 55px;
  background: radial-gradient(#fbede9, transparent);
}
.mainDon h2 {
  text-align: center;
  align-self: center;
  color: #000;
  text-shadow: 2px -2px 0 rgba(142, 141, 136, 0.5882352941);
  z-index: 4;
}

.CSSgal {
  position: relative;
  align-self: center;
  overflow: hidden;
  height: 100%;
  color: #fdebe9;
  text-align: center;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: #000;
  text-decoration: none;
}
.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}
.CSSgal .slider h3 {
  color: #000;
  left: cacl(100%/2);
  margin-top: 10vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 2em;
  padding-bottom: 10px;
}

.bg1 ul, .bg2 ul, .bg3 ul, .bg4 ul {
  line-height: 25px;
}
.bg1 ul li, .bg2 ul li, .bg3 ul li, .bg4 ul li {
  list-style-type: none;
  text-align: center;
}

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div + div {
  visibility: hidden;
}

.CSSgal .prevNext a {
  background: #ffffff;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  opacity: 0.7;
  transition: 0.3s;
  transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}

.CSSgal .prevNext a + a {
  left: auto;
  right: 0;
}

.CSSgal .bullets {
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.CSSgal .bullets > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  transition: 0.3s;
}
.CSSgal .bullets > a:hover {
  background: #fbede9 !important;
  opacity: 0.9 !important;
}

.CSSgal .bullets > a + a {
  background: #ffffff;
}

.CSSgal .bullets > .CSSgal > s:target ~ .bullets > * {
  background: #ffffff;
}

#s1:target ~ .bullets > *:nth-child(1) {
  background: #ffffff;
}

#s2:target ~ .bullets > *:nth-child(2) {
  background: #ffffff;
}

#s3:target ~ .bullets > *:nth-child(3) {
  background: #ffffff;
}

#s4:target ~ .bullets > *:nth-child(4) {
  background: #ffffff;
}

.CSSgal > s:target ~ .prevNext > * {
  visibility: hidden;
}

#s1:target ~ .prevNext > *:nth-child(1) {
  visibility: visible;
}

#s2:target ~ .prevNext > *:nth-child(2) {
  visibility: visible;
}

#s3:target ~ .prevNext > *:nth-child(3) {
  visibility: visible;
}

#s4:target ~ .prevNext > *:nth-child(4) {
  visibility: visible;
}

#s1:target ~ .slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#s2:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#s3:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

#s4:target ~ .slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}

@media only screen and (max-width: 768px) {
  .mainDon {
    position: relative;
    z-index: -1;
  }
  .CSSgal {
    display: flex;
    flex-direction: column;
  }
  .CSSgal .slider {
    display: flex;
    flex-direction: column;
  }
  .CSSgal .slider .bg1, .CSSgal .slider .bg2, .CSSgal .slider .bg3, .CSSgal .slider .bg4 {
    display: block;
    background-color: linear-gradient(to bottom, #fbede9, #ffffff);
    margin: 5px 10px 5px 0px;
    border: thin solid #bdc991;
  }
  .CSSgal .slider .prevNext {
    position: absolute;
    top: -11111px;
    left: -11111px;
  }
  .CSSgal .slider .bullets {
    position: absolute;
    top: -11111px;
    left: -11111px;
  }
  .CSSgal .prevNext a {
    position: absolute;
    top: -11111px;
    left: -11111px;
  }
  .CSSgal .bullets > a {
    position: absolute;
    top: -11111px;
    left: -11111px;
  }
}
/*CONTACTO*/
.mainCont {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
}
.mainCont h3 {
  text-align: center;
  align-self: center;
  text-shadow: 2px -2px 0 rgba(235, 174, 174, 0.5803921569);
}

.secForm {
  background-color: #fdf2f2;
  border-radius: 5px;
  border: solid thin #fcaebc;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex: content;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.secForm::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #fbede9;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#fcaebc, #fbede9);
  -webkit-animation: rotate 7s linear infinite;
          animation: rotate 7s linear infinite;
}
.secForm::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #fbede9;
  border-radius: 5px;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.form {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  text-align: left;
  border: double thin #bdc991;
  background-color: #fbede9;
  padding: 30px;
}

.divForm input[type=radio] {
  display: inline;
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
}

/*RECURSOS*/
.mainRec {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background: linear-gradient(to bottom, transparent, #fdebe9);
  margin-top: 50px;
  margin-bottom: 50px;
}
.mainRec h2 {
  text-align: center;
  padding-top: 100px;
  text-shadow: 2px -2px 0 rgba(235, 174, 174, 0.5803921569);
  background: linear-gradient(to top, transparent, #fbede9);
}

.secRec {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-content: space-between;
  padding: 50px;
}

.divRec {
  border: solid thin #bdc991;
  margin-right: 10px;
  background-color: #fdf2f2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex: 40px;
  justify-content: center;
  text-align: center;
}

.divRec ul li {
  list-style-type: none;
  padding: auto;
}

/*BLOGS*/
.mainBlogs {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.mainBlogs h2 {
  text-align: center;
  align-self: center;
  text-shadow: 2px -2px 0 rgba(235, 174, 174, 0.5803921569);
  margin-top: 50px;
  margin-bottom: 50px;
}

[type=radio] {
  display: none;
}

#slideBlog {
  height: 30vw;
  width: 95vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slideBlog label {
  margin: auto;
  width: 85%;
  height: 80%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  z-index: 1;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

#slide1 {
  background-image: url(../images/xsBlogPabloMuguerza.jpg);
  background-position: center;
  background-size: cover;
}

#slide2 {
  background-image: url(../images/blogPaulaPlazas.png);
  background-position: center;
  background-size: contain;
  background-color: #fdf2f2;
  background-repeat: no-repeat;
}

#slide3 {
  background-image: url(../images/elartedetraducir.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #cae5dc;
}

#slide4 {
  background-image: url(../images/enLaLunaDeBabel.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #8e8d88;
}

#slide5 {
  background-image: url(../images/tradumei_firma_mail.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fefefe;
}

@media only screen and (max-width: 768px) {
  .mainBlogs {
    position: relative;
    z-index: -1;
  }
}/*# sourceMappingURL=styles.css.map */